Assignment2/prt/cmake-build-debug-visual-studio/
Assignment2/prt/.idea/
.vscode/
Assignment2/prt/cmake-build-debug-visual-studio/Testing/Temporary/LastTest.log
Assignment2/prt/cmake-build-debug-visual-studio/nori.dir/Debug/nori.tlog/link.read.1.tlog
Assignment2/prt/cmake-build-debug-visual-studio/nori.dir/Debug/nori.ilk
Assignment2/prt/cmake-build-debug-visual-studio/Debug/nori.pdb
Assignment2/prt/cmake-build-debug-visual-studio/Debug/nori.exe
